*{
	margin:0;
	padding:0;
	}
html{
	height:100%;
	width:100%;
	overflow:auto;
	}
body{
	width:100%;
	color:#333333;
	font-family:"Microsoft YaHei","宋体";
	font-size:14px;
	background-color:#f6f6f6;
	overflow:auto;
	}
input,select,textarea{
	font-family:"Microsoft YaHei","宋体";
	font-size:13px;
	-webkit-user-select:auto;
	outline:none;
	}
li{
	list-style:none;
	float:none;
	}
a{
	text-decoration:none;
	cursor:pointer;
	}
img{
	border:0;
	}
table{
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
	}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	}
::-webkit-input-placeholder{
	color: #999;
    }
:-moz-placeholder{
	color: #999;
	}
::-moz-placeholder{
	color: #999;
	}
:-ms-input-placeholder{
	color: #999;
	}
	
.wrap{
	position:relative;
	}
.header{
	height:77px;
	text-align:center;
	background-color:#1067d1;
	}
.main{
	width:1002px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:20px;
	background-color:#ffffff;
	padding:0px 20px 50px 20px;
	padding-bottom:10px;
	}
.nav{
	background-color:#f8f8f8;
	border:1px solid #e4e4e4;
	margin-bottom:20px;
	overflow:hidden;
	padding:20px 0px 18px 0px;
	position:relative;
	height:140px;
	}
.nav-index{
	width:1000px;
	position:absolute;
	z-index:99;
	}
.nav .line{
	position:absolute;
	height:2px;
	width:800px;
	background-color:#e4e4e4;
	left:100px;
	top:39px;
	z-index:9;
	}
.nav .line-active{
	position:absolute;
	height:2px;
	width:0%;
	background-color:#136ffa;
	left:100px;
	top:39px;
	z-index:10;
	transition:all 300ms;
	}
.nav a{
	display:block;
	float:left;
	width:200px;
	text-align:center;
	}
.nav a.active{
	color:#136ffa;
	}
.nav a img{
	margin-bottom:6px;
	}
.nav a.info-btn img.active{
	display:none;
	}
.nav a.info-btn.active img{
	display:none;
	}
.nav a.info-btn.active img.active{
	display:inline;
	}
.nav a textarea{
	border:1px solid #dddddd;
	width:150px;
	min-height:60px;
	margin-top:10px;
	font-size:12px;
	padding:3px 5px;
	color:#666666;
	}

.info-head{
	overflow:hidden;
	padding:20px 0px 20px 0px;
	}
.info-title{
	color:#000000;
	font-size:18px;
	font-weight:bold;
	border-left:6px solid #136ffa;
	line-height:26px;
	height:28px;
	padding-left:10px;
	float:left;
	}
.info-title span{
	float:left;
	}
.info-bg{
	background-image:url(../images/info-bg.jpg);
	width:1002px;
	height:79px;
	padding:29px 0px;
	}
.info-bg img.icon{
	margin-left:30px;
	float:left;
	}
.info-bg div{
	margin-left:130px;
	padding-top:10px;
	}
.info-bg div p{
	overflow:hidden;
	}
.info-bg div p span.name{
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	float:left;
	margin-right:10px;
	}
.info-bg div p span.type{
	color:#ffffff;
	display:block;
	float:left;
	background-image:url(../images/green-span.png);
	height:29px;
	width:44px;
	text-align:center;
	line-height:29px;
	}
.info-bg div p.list{
	padding-top:10px;
	}
.info-bg div p.list span{
	color:#bcbcbd;
	line-height:24px;
	margin-right:40px;
	}
.info-bg div p.list span img{
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	}
p.info-tip{
	line-height:22px;
	margin-top:5px;
	color:#999999;
	font-size:14px;
	margin-bottom:20px;
	position:relative;
	padding-left:26px;
	text-align:justify;
	text-justify:inter-ideograph;
	}
p.info-tip img{
	position:absolute;
	left:0px;
	top:0px;
	width:20px;
	height:20px;
	vertical-align:middle;
	margin-right:5px;
	}
.info-head-right{
	float:right;
	}
.info-head-right a{
	display:block;
	float:left;
	background-image:url(../images/blue-btn.png);
	width:74px;
	height:30px;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	margin-left:10px;
	}
.info-head-right a img{
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	}
.info-table{
	}
.info-table tr th{
	font-weight:normal;
	color:#000000;
	text-align:left;
	padding:10px 0px;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	vertical-align:top;
	line-height:30px;
	}
.info-table tr th span{
	color:#ff0000;
	}
.info-table tr td{
	font-weight:normal;
	color:#000000;
	text-align:left;
	padding:10px 0px;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	line-height:30px;
	}
.info-table tr td input{
	color:#999999;
	font-size:13px;
	}
.info-table tr td input.active{
	color:#333333;
	}
.info-table tr td input.input01{
	width:900px;
	height:20px;
	line-height:20px;
	border:0px;
	}
.info-table tr td input.input02{
	width:300px;
	height:20px;
	line-height:20px;
	border:0px;
	}
.info-table tr td input.input03{
	width:200px;
	height:20px;
	line-height:20px;
	border:0px;
	}
.info-table tr td input.input04{
	width:750px;
	height:28px;
	line-height:28px;
	margin-top:5px;
	padding-left:5px;
	border-radius:2px;
	border:1px solid #dddddd;
	}
.info-table tr td textarea.textarea01{
	width:100%;
	border:0px;
	min-height:40px;
	line-height:20px;
	padding:5px 0px;
	}
.info-table tr td textarea.textarea02{
	width:100%;
	border:0px;
	min-height:100px;
	line-height:24px;
	padding:3px 0px;
	text-align:justify;
	}


.info-table tr td input.laydate-icon{
	border:0px;
	}
.info-table tr td input[disabled=disabled],.info-table tr td input:disabled{
	background-color:#ffffff;
	color:#666666;
	}
.info-table tr td textarea[disabled=disabled],.info-table tr td textarea:disabled{
	background-color:#ffffff;
	color:#666666;
	}
.info-table tr td a.cxry{
	display:inline-block;
	background-image:url(../images/common/blue-btn1.png);
	height:30px;
	width:94px;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	font-size:14px;
	}
.info-table tr td a.cxry img{
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	}
.upload-wrap{
	margin-top:20px;
	}
.file-wrap{
	overflow:hidden;
	width:94px;
	height:30px;
	position:relative;
	}
.file-wrap input[type=file]{
	cursor:pointer;
	margin-left:-90px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:99;
	opacity:0;
	}
a.fj-btn{
	display:block;
	background-image:url(../images/btn.png);
	height:32px;
	width:101px;
	color:#666666;
	text-align:center;
	line-height:32px;
	font-size:14px;
	}
a.fj-btn img{
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	}
a.ry-add{
	display:block;
	background-image:url(../images/btn.png);
	height:32px;
	width:101px;
	color:#666666;
	text-align:center;
	line-height:32px;
	font-size:14px;
	}
a.ry-add img{
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	}
.file-list{
	border-top:1px solid #dddddd;
	margin-top:20px;
	}
.file-li{
	border-bottom:1px solid #dddddd;
	overflow:hidden;
	padding:15px 20px 15px 10px;
	}
.file-li a.file-name{
	line-height:24px;
	float:left;
	}
.file-li a.file-name:hover{
	color:#ff6804;
	text-decoration:underline;
	}
.file-li a.file-name img{
	vertical-align:middle;
	margin-top:-3px;
	margin-right:8px;
	}
.file-li a.file-del{
	margin-top:4px;
	float:right;
	}
.file-li span.upload-people{
	float:right;
	display:block;
	line-height:24px;
	width:80px;
	margin-right:20px;
	font-size:13px;
	color:#999999;
	}
.file-li span.upload-time{
	float:right;
	display:block;
	line-height:24px;
	width:200px;
	margin-right:20px;
	font-size:13px;
	color:#999999;
	}

.info-table tr td a.form-btn{
	display:inline-block;
	background-image:url(../images/common/blue-btn1.png);
	height:30px;
	width:94px;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	font-size:14px;
	}
.info-table tr td a.form-btn img{
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	}
.info-table tr td a.form-btn.btn02{
	width:124px;
	background-image:url(../images/common/blue-btn2.png);
	}

.radio-wrap{
	line-height:24px;
	margin-right:30px;
	margin-bottom:5px;
	overflow:hidden;
	float:left;
	}
.radio-wrap label{
	float:left;
	cursor:pointer;
	}
.radio-bg{
	display:block;
	float:left;
	width:16px;
	height:16px;
	overflow:hidden;
	background-image:url(../images/radio.png);
	background-repeat:no-repeat;
	float:left;
	margin-top:4px;
	margin-right:5px;
	}
.radio-wrap.active .radio-bg{
	background-image:url(../images/radio-checked.png);
	}
.radio-bg input[type=radio]{
	width:16px;
	height:16px;
	vertical-align:middle;
	opacity:0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor:pointer;
	}

.checkbox-wraps{
	clear:both;
	margin-top:8px;
	padding-top:10px;
	border-top:1px dotted #cccccc;
	display:none;
	}
.checkbox-wrap{
	line-height:24px;
	margin-right:30px;
	margin-bottom:5px;
	overflow:hidden;
	float:left;
	}
.checkbox-wrap label{
	float:left;
	cursor:pointer;
	}
.checkbox-bg{
	display:block;
	float:left;
	width:16px;
	height:16px;
	overflow:hidden;
	background-image:url(../images/form/checkbox.png);
	background-repeat:no-repeat;
	float:left;
	margin-top:4px;
	margin-right:5px;
	}
.checkbox-wrap.active .checkbox-bg{
	background-image:url(../images/form/checkbox-checked.png);
	}
.checkbox-bg input[type=checkbox]{
	width:16px;
	height:16px;
	vertical-align:middle;
	opacity:0;
	cursor:pointer;
	}

.info-table tr td input.qt-text{
	border:1px solid #dddddd;
	height:20px;
	margin-top:1px;
	padding:0px 5px;
	width:150px;
	display:none;
	}
.info-table tr td input.qt-text.active{
	display:inline;
	}
.info-table tr td div.select-wrap{
	border:1px solid #dddddd;
	border-radius:3px;
	float:left;
	}
.info-table tr td div.select-wrap select{
	min-width:173px;
	padding:5px 3px 6px 3px;
	border:0px;
	font-size:13px;
	color:#666666;
	}
.info-table tr td p.tip{
	float:left;
	line-height:20px;
	margin-left:10px;
	margin-top:7px;
	color:#999999;
	}
.info-table tr td p.tip img{
	width:20px;
	height:20px;
	vertical-align:middle;
	margin-top:-3px;
	margin-right:5px;
	}

.btn-bar{
	overflow:hidden;
	margin-bottom:30px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:120px;
	padding-top:10px;
	}
.btn-bar a{
	display:block;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	width:120px;
	background-color:#03F;
	color:#ffffff;
	border-radius:3px;
	}
.btn-bar a img{
	vertical-align:middle;
	margin-top:-3px;
	margin-right:8px;
	}


.people-list{
	}
.people-li{
	position:relative;
	border:1px solid #ebebeb;
	padding:10px 10px 10px 10px;
	margin-bottom:26px;
	}
.people-name{
	float:left;
	width:120px;
	}
.people-name span{
	display:block;
	background-image:url(../images/portrait.png);
	width:58px;
	height:58px;
	margin:0 auto;
	margin-top:10px;
	}
.people-name input{
	width:112px;
	border:1px solid #dddddd;
	border-radius:3px;
	height:28px;
	margin-top:10px;
	padding:0px 3px;
	font-family:"Microsoft YaHei", "宋体";
	font-size:13px;
	text-align:center;
	color:#999999;
	}
.people-name input.active{
	color:#333333;
	}
.people-info{
	margin-left:0px;
	}
.people-info table tr th{
	text-align:right;
	font-weight:normal;
	line-height:30px;
	padding:7px 0px;
	}
.people-info table tr td{
	padding:7px 0px;
	}
.people-info table tr td input{
	width:100px;
	border:1px solid #dddddd;
	border-radius:3px;
	height:28px;
	line-height:28px;
	padding:0px 3px;
	font-family:Arial, "Microsoft YaHei", "宋体";
	font-size:13px;
	}
.people-info table tr td input.dateInput{
	}
.people-info table tr td input.input01{
	width:124px;
	}
.people-info table tr td input.input02{
	width:366px;
	}
.people-info table tr td input.input03{
	width:369px;
	}
.people-info table tr th span.title{
	padding-left:30px;
	float:left;
	padding-right:3px;
	}
.people-info table tr td div.select-wrap{
	border:1px solid #dddddd;
	border-radius:3px;
	float:left;
	padding:0px 3px 0px 0px
	}
.people-info table tr td div.select-wrap select{
	width:124px;
	padding:3px 3px 4px 3px;
	border:0px;
	}
.li-delete{
	position:absolute;
	height:16px;
	width:16px;
	display:block;
	right:-8px;
	top:-8px;
	z-index:999;
	}
.num-mark{
	position:absolute;
	height:26px;
	width:26px;
	display:block;
	left:-8px;
	top:-8px;
	z-index:999;
	background-image:url(../images/jb.png);
	text-align:center;
	line-height:26px;
	font-family:Arial;
	color:#ffffff;
	}
.fj-table{
	margin-top:10px;
	border:1px solid #eaebed;
	}
.fj-table tr th{
	height:40px;
	font-weight:normal;
	font-size:13px;
	background-color:#f0f3f8;
	}
.fj-table tr td{
	text-align:center;
	height:40px;
	font-size:13px;
	border-top:1px solid #eaebed;
	}
.fj-table tr td a:hover{
	color:#1067d1;
	text-decoration:underline;
	}
.fj-table tr td.ta-left,.fj-table tr th.ta-left{
	text-align:left;
	}

.layui-layer-btn {
    background-color: #FFF;
}





























